html
    head
        title Weather GIF
        link(rel="stylesheet", href="./css/search.css")
    body
        div(id="main-content")
            h1(id="main-title") #{title}
            p(id="main-description") #{description}
            div(id="image-container")
                img(src=localURL alt=gifDescription id="weatherGif")
                p 
                    a(href=gifURL) Original GIPHY page
        