html
    head

    body
        h1 #{title}
        p #{description}
        img(src=localURL alt=gifDescription)
        img(src="../gif/2Zx1Pa8Fcs9xu.gif", alt="", srcset="")
        p 
            a(href=gifURL) Original GIPHY page
        